# General
*.pyc
.~lock*
.idea/
*.DS_Store
._*

# Tests
.cache/

# MkDocs files
site/

# Jekyll files
jekyll/
_site
.DS_store
.jekyll
.bundle
.sass-cache
_site/
/_site/
_build/
.sass-cache/
.jekyll-metadata

# Annotation files
anno/hg38_annotations.bed.gz
anno/hg19_annotations.bed.gz
anno/mm10_annotations.bed.gz
anno/mm9_annotations.bed.gz

# Tutorial files
examples/data/tutorial_r1.fastq.gz
examples/data/tutorial_r2.fastq.gz
examples/gold_atac/metadata/distinct.bed
examples/gold_atac/metadata/distinct_only.bed
examples/gold_atac/metadata/gold_fseq.yaml
examples/gold_atac/metadata/gold_genrich.yaml
examples/gold_atac/metadata/gold_hmmratac.yaml
examples/gold_atac/metadata/gold_homer.yaml
examples/gold_atac/metadata/gold_picard_dedup.yaml
examples/gold_atac/metadata/gold_samtools_dedup.yaml
examples/test_project/test_bwa.yaml
examples/test_project/test_fseq.yaml
examples/test_project/test_genrich.yaml
examples/test_project/test_hmmratac.yaml
examples/test_project/test_homer.yaml
examples/test_project/test_macs.yaml
.Rproj.user
/examples/data/tutorial1_r1.fastq.gz
/examples/data/tutorial1_r2.fastq.gz
/examples/data/tutorial2_r1.fastq.gz
/examples/data/tutorial2_r2.fastq.gz
