theme: databio

site_name: PEPATAC
site_author: Jason Smith
site_url: http://pepatac.databio.org/en/latest/
site_logo: img/pepatac_logo_white.svg
repo_url: https://github.com/databio/pepatac/
google_analytics: ['UA-127092878-1', 'pepatac.databio.org']
paper_link: https://doi.org/10.1101/2020.10.21.347054

markdown_extensions:
  - fontawesome_markdown  # pip install --user fontawesome-markdown
  - pymdownx.details  # pip install --user pymdown-extensions

nav:
  - Getting Started:
    - Introduction: 'README.md'
    - Features: 'features.md'
    - Install: 'install.md'
    - Extended tutorial: 'tutorial.md'
  - How-to Guides:
    - Run using bulker: 'run-bulker.md'
    - Run using containers: 'run-container.md'
    - Run using conda: 'run-conda.md'
    - Run natively: 'detailed-install.md'
    - Configure assets: 'assets.md'
    - Configure prealignments: 'prealignments.md'
    - Configure project files: 'peps.md'
    - Configure seqOutBias assets: 'sob.md'
    - Configure computing resources: 'compute-resources.md'
    - Download SRA data: 'download.md'
    - Use custom reference data: 'annotation.md'
    - Use reference peaks: 'reference_peaks.md'
    - Generate count table: 'count_table.md'
    - Generate consensus peaks: 'consensus_peaks.md'
  - Reference: 
    - Example output file structure: 'browse_output.md'
    - "Example summary: gold project": 'files/examples/gold/gold_summary.html'
    - "Example summary: tutorial project": 'files/examples/tutorial/PEPATAC_tutorial_summary.html'
    - Usage: 'usage.md'
    - FAQ: faq.md
    - Glossary: 'glossary.md'
    - Changelog: changelog.md
    - Support: contact.md

plugins:
  - search
  - databio:
      usage_template: "docs/usage_template.md"
      usage_cmds:
        -"$CODEBASE/databio/pepatac/pipelines/pepatac.py --help

navbar:
  right:
  - text: Software & Data
    icon: fa-code fa-lg
    href: http://databio.org/software/