# Core pepkit stack
eido>=0.2.4
looper>=2.0.1
pipestat>=0.12.1
ubiquerg>=0.8.1
yacman>=0.9.3

# Pipeline runtime dependencies
bio>=0.2.4
jinja2
logmuse>=0.2.7
numpy>=1.21
pandas>=1.4
pararead>=0.7.0
piper>=0.14.3
psutil>=5.8
pysam>=0.16
python-Levenshtein>=0.12
pyyaml>=3.13
refgenconf>=0.13.1
