bio>=0.2.4
blosc2>=2.0.0
clyent==1.2.1
codecov>=2.0
colorama>=0.3.9
Cython>=0.29
cykhash>=1.0.2  
eido>=0.2.4
FuzzyTM>=0.4.0
#fseq2>=2.0.2
hypothesis==4.38.0
jinja2
jsonschema>=3.0.1
logmuse>=0.2.7
looper>=2.0.1
MACS3>=3.0.0b1
numpy<1.25,>=1.21
oyaml>=1.0
pararead>=0.7.0
pandas>=1.4
piper>=0.14.3
pipestat>=0.12.1
psutil>=5.8
pyqt5<5.16
pyqtwebengine<5.16
pysam>=0.16
python-Levenshtein>=0.12
pyyaml>=3.13
refgenconf>=0.12.2
requests_mock
ubiquerg>=0.8.1
yacman>=0.9.3
